.forwardlink {
  display: inline-block;
  margin: 0 0 10px 0;
  margin: 0 0 1rem 0;
  padding: 8px 10px 8px 34px;
  padding: 0.8rem 3.4rem 0.8rem 0;
  position: relative;
}

.forwardlink:focus {
  text-decoration: underline;
}

.forwardlink:after {
  text-decoration: none;
}

.forwardlink:after {
  /* use !important to prevent issues with browser extensions that change fonts */
  /* stylelint-disable */
  font-family: "duo-basic" !important;
  /* stylelint-enable */
  /* Better Font Rendering */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
  content: "";
  font-size: 24px;
  font-size: 2.4rem;
  right: 2px;
  right: 0.2rem;
  line-height: inherit;
  position: absolute;
  text-decoration: none;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 100ms ease;
  transition: -webkit-transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease;
  width: 24px;
  width: 2.4rem;
}

.forwardlink:hover::after {
  -webkit-transform: translateX(0.2rem);
  transform: translateX(0.2rem);
}
